# More cleanup
### Since I removed some rows in csv file with the targets, I also need to remove corresponding images from the second file - numpy array

In [1]:
import numpy as np

In [2]:
images = np.load("ImagesTxt.npy")

In [3]:
labels = np.load("saved_ids.npy")1

In [4]:
import pandas as pd

In [5]:
dataImage = pd.DataFrame(images)
dataImage["id"] = labels

In [6]:
cleaned_targets = pd.read_csv("cleaned_fashion.csv", sep=";")

In [7]:
cleaned_targets.head(2)

      id      target
0  15970     Topwear
1  39386  Bottomwear

In [11]:
cleaned_targets.set_index("id", inplace=True)
dataImage.set_index("id", inplace=True)

### Here we can see that dataImage has 44418 entries and targets have 41121 entries. I am intersecting targets with images using ids

In [12]:
cleaned_targets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41121 entries, 15970 to 51623
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  41121 non-null  object
dtypes: object(1)
memory usage: 642.5+ KB

In [13]:
dataImage.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44418 entries, 15970 to 51623
Columns: 4800 entries, 0 to 4799
dtypes: float64(4800)
memory usage: 1.6 GB

In [14]:
indexes = cleaned_targets.index.intersection(dataImage.index)

In [15]:
dataImage = dataImage.loc[indexes]

In [16]:
dataImage.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41121 entries, 15970 to 51623
Columns: 4800 entries, 0 to 4799
dtypes: float64(4800)
memory usage: 1.5 GB

### Saving reduced images file to images_final_intersected

In [54]:
np.save("images_final_intersected",dataImage.values)

In [18]:
images_final = np.load("images_final_intersected.npy")

In [19]:
images_final

array([[  1.        ,   1.        ,   1.        , ...,   0.99916667,
          0.99860118,   0.99886902],
       [  1.        ,   1.        ,   1.        , ...,   1.        ,
          1.        ,   1.        ],
       [255.        , 255.        , 255.        , ..., 255.        ,
        255.        , 255.        ],
       ...,
       [  1.        ,   1.        ,   1.        , ...,   1.        ,
          1.        ,   1.        ],
       [  1.        ,   1.        ,   1.        , ...,   1.        ,
          1.        ,   1.        ],
       [  1.        ,   1.        ,   1.        , ...,   1.        ,
          1.        ,   1.        ]])

In [20]:
dataImage

,0,1,2,3,4,5,6,7,8,9,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
id,,,,,,,,,,,,,,,,,,,,,
15970,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.987930,0.993824,0.997195,0.994389,1.000000,0.995528,0.999167,0.999167,0.998601,0.998869
39386,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.966871,0.993333,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
59263,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000
21379,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.995781,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
53759,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17036,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6461,0.753462,0.753462,0.757384,0.757384,0.757384,0.761305,0.761871,0.765792,0.765227,0.769148,...,0.753462,0.749540,0.745619,0.745619,0.742263,0.742263,0.742263,0.742263,0.742263,0.742263
18842,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
46694,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
51623,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
np.save("images_final_intersected_ids", dataImage.index)

In [23]:
indexes = np.load("images_final_intersected_ids.npy")
indexes

array([15970, 39386, 59263, ..., 18842, 46694, 51623])